@media (max-width: 720px) {

    .nav-link {
        display: none;  
    }

    .hamburguer-line{
        display: block;
    }

    .hero{
        grid-template-columns: 1fr;
    }

    .link-hero{
        font-size: 1.5rem;
        justify-content: center;
        padding: 3% .5%;
    }

    .link1 a, .link2 a{
         margin: 0 auto;
}

    .link1 img, .link2 img{
        display: none;
}
    .hero-img-bonus{
        flex-flow: column nowrap;
    }
    .hero-img1, .hero-img2{
        width: 100%;
        height: 50%;
    }

}


@media (min-width: 720px) and (max-width: 1024px) {

    .nav-social {
        display: none;  
    }
    .hero{
        grid-template-columns:1fr;
    }

     .link1 img, .link2 img{
        height: 30px;
        width: 30PX;
     }

     .link-hero{
        padding: 2% .5%;
     }

}