
/* ==================================
    HEADER STYLES
================================== */
header .nav{
    background-color: oklch(21% 0.034 264.665);
    color: oklch(96.7% 0.003 264.542);
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
} 

header .nav a span{
    color: oklch(96.7% 0.003 264.542);
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

header .nav ul{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    align-items: center;
}

header .nav ul li{
    display: block;
    padding: 1rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

header .nav ul li:hover{
    background-color: oklch(27.8% 0.033 256.848);

}

.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
    display: none;
}
.menu-bar{
    width: 3rem;
    height: .5rem;
    background-color: oklch(96.7% 0.003 264.542);
}


/* ==================================
    HERO STYLES
================================== */

.content-hero{
    min-height: calc(100vh - 16vh);

    background-image: 
        linear-gradient(rgba(0,0,0, 0.8), 
        rgba(0,0,0,0.5)), 
        url('../page-flex/img/hero-img-opacity.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-hero .hero-text{
    max-width:70%;
    color: oklch(96.7% 0.003 264.542);
}

.content-hero h1{
    font-size: 6rem;
}

.content-hero p{
    font-size: 3rem;
    margin: 1.5rem 0 4rem 0;

}

.content-hero a{
    background-color:oklch(96.7% 0.003 264.542);
    color:oklch(27.8% 0.033 256.848);
    border: 2px solid oklch(96.7% 0.003 264.542);
    border-radius: 1rem;
    font-size: 3rem;
    padding: 1rem 8rem ;
    text-transform: capitalize;
    font-weight: bold;
}

.content-hero a:hover{
    background-color: oklch(27.8% 0.033 256.848);
    color: oklch(96.7% 0.003 264.542);
    border: 2px solid oklch(96.7% 0.003 264.542);
}

/* ==================================
    line content STYLES
================================== */

.content-line{
    min-height : 28vh;
    background-color: oklch(96.7% 0.003 264.542);
    display: flex;
    flex-flow: column nowrap;
    font-size: 2rem;
    padding: 4%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content-line h2, .content-line p{
    max-width: 70%;
}

.line2{
    background-color: oklch(27.8% 0.033 256.848);
    color: oklch(96.7% 0.003 264.542);
}

/* ==================================
    about content STYLES
================================== */

.about-content{
    min-height: calc(100vh - 8vh);
    background-color: oklch(27.8% 0.033 256.848);
    color: oklch(96.7% 0.003 264.542);
    padding:5%;
    font-size: 2rem;

    display: flex;
    flex-flow: row nowrap;
    gap: 2%;
    align-items: center;
}

.about-img{
    background-image: url(../page-flex/img/entregador.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70rem;
    width: 70rem;
    flex: 1;
}

.about-text {
    flex: 1;
    max-width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
}

.btn-about{
    background-color: oklch(96.7% 0.003 264.542);
    color: oklch(27.8% 0.033 256.848);
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 1rem 3rem ;
    text-transform: capitalize;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin-top: 2rem;
    border: 2px solid oklch(96.7% 0.003 264.542);
}

.btn-about:hover{
    background-color: oklch(27.8% 0.033 256.848);
    color: oklch(96.7% 0.003 264.542);
    border: 2px solid oklch(96.7% 0.003 264.542);
}

/* ==================================
    services cards STYLES
================================== */

.services{
    min-height: calc(100vh - 8vh);
    background-color: oklch(96.7% 0.003 264.542);
    padding: 3%;
}

.services h2{
    text-align: center;
    font-size: 4rem;
    color: oklch(27.8% 0.033 256.848);
    text-transform: capitalize  ;
}

.services-cards{
    display: flex;
    flex-flow: row wrap;
    padding: 3% 5%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.card{
    max-width: 45rem;
    padding:1%;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card h3{
    font-size: 2rem;
}

.card p{
    font-size: 1.5rem;
    text-align: justify;
    padding:  0 2rem;
}

.card img{
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .9;
    border-radius: 1rem;
}

.btn-services{
    color:oklch(27.8% 0.033 256.848);
    font-size: 2.5rem;
    padding: 1rem 5rem ;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 1rem;
    border: 2px solid oklch(27.8% 0.033 256.848);
}

.btn-services:hover{
    background-color:oklch(27.8% 0.033 256.848);
    color: oklch(96.7% 0.003 264.542);
}

/* ==================================
    contact STYLES
================================== */

.contact{
    min-height: calc(100vh - 8vh);
    background-color: oklch(96.7% 0.003 264.542);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

.form-contact{
    background-color:oklch(27.8% 0.033 256.848);
    color: oklch(96.7% 0.003 264.542);
    border: 1px solid ;
    border-radius: 2rem;
    padding: 5rem  4rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    
}

.form-contact h2{
    font-size: 4rem;
    text-transform: capitalize;

}

.inp-form{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 90%;
    text-transform: capitalize;
}

.form-contact input, .form-contact label, .form-contact button, .form-contact textarea{
    padding: .5rem;
    font-size: 2rem;
    border-radius: .5rem;
}

.form-contact button {
    background-color: oklch(96.7% 0.003 264.542) ;
    color: oklch(27.8% 0.033 256.848);
    font-size: 2.5rem;
    padding: 1rem 5rem ;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 1rem;
    border: 2px solid oklch(21% 0.034 264.665);
    margin-top: 3rem;
}

.form-contact button:hover {
    background-color: oklch(27.8% 0.033 256.848);
    color: oklch(96.7% 0.003 264.542);
    border: 2px solid oklch(96.7% 0.003 264.542);
}

/* ==================================
    footer STYLES
================================== */

footer{
    background-color: oklch(27.8% 0.033 256.848);
    color: oklch(96.7% 0.003 264.542);
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

