.container{
    background-color: #3e3e3e;
    color: #f2f2f2;
    font-size: 3rem;
    height: 100vh;
    width: 100vw;
    padding: 3%;

    display: grid;
    grid-template-rows: 0fr 2fr 1fr 0fr;
    grid-template-areas: 
    'item1 item1 item1'
    'item2 item2 item3'
    'item4 item5 item6'
    'item7 item7 item7';
}

.item{
    background-color: #6e6e6e;
    border: 2px solid #f2f2f2;
    padding: 20px;
}

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}       